<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, est?
        </p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="imagini/sprite.svg#easy"></use>
                      </svg>
                </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, qui maxime! Assumenda quaerat dicta quos sed excepturi placeat consequuntur eum.
            </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="imagini/easy.webp 1x, imagini/easy@2x.webp 2x" />
            <source type="image/jpg" srcset="imagini/easy.jpg 1x, imagini/easy@2x.jpg 2x" />
            <img class="feature__image" src="imagini/easy@2x.jpg" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="imagini/sprite.svg#computer"></use>
                      </svg>
                </span>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, qui maxime! Assumenda quaerat dicta quos sed excepturi placeat consequuntur eum.
            </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="imagini/fast.webp 1x, imagini/fast@2x.webp 2x" />
            <source type="image/jpg" srcset="imagini/fast.jpg 1x, imagini/fast@2x.jpg 2x" />
            <img class="feature__image" src="imagini/fast@2x.jpg" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="imagini/sprite.svg#wordpress"></use>
                      </svg>
                </span>
            <h3 class="feature__heading">Wordpress Made Easy</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, qui maxime! Assumenda quaerat dicta quos sed excepturi placeat consequuntur eum.
            </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="imagini/wordpress.webp 1x, imagini/wordpress@2x.webp 2x" />
            <source type="image/jpg" srcset="imagini/wordpress.jpg 1x, imagini/wordpress@2x.jpg 2x" />
            <img class="feature__image" src="imagini/wordpress@2x.jpg" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="imagini/sprite.svg#clock"></use>
                      </svg>
                </span>
            <h3 class="feature__heading">24/7 Expert Support</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, qui maxime! Assumenda quaerat dicta quos sed excepturi placeat consequuntur eum.
            </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="imagini/support.webp 1x, imagini/support@2x.webp 2x" />
            <source type="image/jpg" srcset="imagini/support.jpg 1x, imagini/support@2x.jpg 2x" />
            <img class="feature__image" src="imagini/support@2x.jpg" alt="">
        </picture>
    </article>
</section>