<nav class="nav collapsible ">
    <a class="nav__brand" href="/"><img src="imagini/logo.svg" alt=""></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="imagini/sprite.svg#menu"></use>
        <ul class="list nav__list collapsible__contet">
            <li class="nav__item"><a href="#">Hosting</a></li>
            <li class="nav__item"><a href="#">VPS</a></li>
            <li class="nav__item"><a href="#">Domain</a></li>
            <li class="nav__item"><a href="#">Pricing</a></li>
        </ul>
      </svg>
</nav>
<script src="js/main.js"></script>