<section class="block block--dark block--skewed-right block-showcare">
    <header class="block__header">
        <h2>User-frendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="block-showcare__image">
            <source type="image/webp" srcset="imagini/ipad.webp 1x, imagini/ipad@2x.webp 2x">
            <source type="image/png" srcset="imagini/ipad.png 1x, imagini/ipad@2x.png 2x">
            <img src="imagini/ipad.png" alt="">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="imagini/sprite.svg#snap"></use>
                        </svg>

                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, odio sit architecto ab enim assumenda excepturi pariatur dignissimos necessitatibus labore?
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                        <use xlink:href="imagini/sprite.svg#growth"></use>
                    </svg>

                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, odio sit architecto ab enim assumenda excepturi pariatur dignissimos necessitatibus labore?
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                        <use xlink:href="imagini/sprite.svg#wordpress"></use>
                    </svg>

                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynameic Caching & More</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, odio sit architecto ab enim assumenda excepturi pariatur dignissimos necessitatibus labore?
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>